html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Porsche';
  src: url('/font/PorscheFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* opcional: reset */
body {
  margin: 0;
  font-family: Porsche, sans-serif;
}
@font-face {
  font-family: 'subtitule';
  /* Si el archivo está en la carpeta public/font/ usa la ruta absoluta /font/... */
  src: url('/font/Sectar.otf') format('opentype'); 
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Ayuda a que cargue más rápido */
}